html {
    font-size: 16px;
}

body {
    display: flex;
    width: 100%;
    background: #f5f5f5;
    color: #4d4d4d;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header {

}

.header__text {
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin: 0;
}

.to-do-app {
    width: 550px;
    background-color: greenyellow;
}


.new-task {
    display: flex;
    width: 100%;
    height: 49px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    outline: 1px solid gainsboro;
}

.new-task__selector{
    height: 100%;
    width: 10%;
    background-color: orange;
}

.new-task__selector p{
    vertical-align: center;
    font-size: 1.5rem;
    transform: rotate(90deg);
}

.new-task__input {
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    font-size: 1.5rem;
}


.new-task__controls {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.new-task__btn {
    background-color: rgb(38, 165, 154);
    color: white;
    font-size: 12pt;
    outline: none;
    border: none;
    width: 90%;
    height: 70%;
    border-radius: 3px;
}

.new-task__btn :hover {
    border: 2px solid white;
    outline: 2px solid white;
}

.task-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    background-color: #af5b5e;
}

.task-list__li {
    width: 100%;
    background-color: white;
    list-style: none;
    border-bottom: 1px solid #ededed;
}

.task-list__li:last-child {
    border-bottom: none;
}

.to-do-list__item {
    display: flex;
    height: 60px;
    outline: 1px solid gray;

}

.task__text {
    font-size: 1.5rem;
}

.task__manage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: greenyellow;
}


.task__body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: deepskyblue;
}


.task-list__li .task__remove {
    font-size: 30px;
    color: #af5b5e;
    opacity: 0;
}

.task-list__li:hover .task__remove {
    opacity: 1;
}

.task__text {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    overflow: hidden;
    width: 95%;
}

.task_done {
    text-decoration: line-through;
}

.footer {
    display: flex;
}

.footer__counter {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__filter {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__clear {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__btn {

}

.footer__btn_chosen {
    border: 1px solid #efd5d5;
    border-radius: 3px;
}