html {
    font-size: 18px;
}

body {
    display: flex;
    width: 100%;
    background: #f5f5f5;
    color: #4d4d4d;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header {

}

.header__text {
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin: 0;
}

.to-do-app {
    width: 550px;
    background-color: greenyellow;
}


.new-task {
    display: flex;
    width: 100%;
    height: 49px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    outline: 1px solid gainsboro;
}

.new-task__input {
    width: 85%;
    padding: 16px 16px 16px 60px;

    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.new-task__options {
    width: 15%;
}

.new-task__controls {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-task__btn {
    background-color: rgb(38, 165, 154);
    color: white;
    font-size: 12pt;
    outline: none;
    border: none;
    width: 60%;
    height: 70%;
    border-radius: 3px;
}

.new-task__btn :hover {
    border: 2px solid white;
    outline: 2px solid white;
}

.task-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    background-color: #af5b5e;
}

.task-list__li {
    width: 100%;
    background-color: white;
    list-style: none;
}

.to-do-list__item {
    display: flex;
    height: 60px;
    outline: 1px solid gray;

}

.task__text {
    font-size: 24px;
}

.task__manage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}


.task__body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.to-do-list .task__remove {
    color: #af5b5e;
    opacity: 0;
}

.to-do-list:hover .task__remove {
    opacity: 1;
}

.task__text {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    overflow: hidden;
    width: 95%;
}

.task_done {
    text-decoration: line-through;
}
