html {
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    color: #4d4d4d;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header__text {
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin: 0;
}

.to-do-app {
    width: 550px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}


.new-task {
    display: flex;
    width: 100%;
    height: 65px;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ededed;
    background-color: white;
}

.task-selector {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-selector__btn {
    font-size: 1.5rem;
    transform: rotate(90deg);
    background: rgba(0, 0, 0, 0.003);
    cursor: pointer;
    color: #e6e6e6;
}

.task-selector__btn_chosen {
    color: inherit;
}

.new-task__input {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    padding: 0;
}

.new-task__input::-webkit-input-placeholder {
    font-style: italic;
	font-weight: 300;
    color: #e6e6e6;
}

.new-task__input::-moz-placeholder {
    font-style: italic;
	font-weight: 300;
    color: #e6e6e6;
}

.new-task__input:-moz-placeholder {
    font-style: italic;
	font-weight: 300;
    color: #e6e6e6;
}

.new-task__input:-ms-input-placeholder {
    font-style: italic;
	font-weight: 300;
    color: #e6e6e6;
}


.new-task__controls {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-task__btn {
    background-color: rgb(38, 165, 154);
    color: white;
    font-size: 12pt;
    outline: none;
    border: none;
    width: 90%;
    height: 70%;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid black;
}

.new-task__btn :hover {
    border: 2px solid white;
    outline: 2px solid white;
}

.task-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    background-color: white;
}

.to-do-list__item  {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid #ededed;
    font-size: 1.5rem;
}

.to-do-list__item  .task__remove {
    font-size: 30px;
    color: #cc9a9a;
    opacity: 0;
}

.to-do-list__item :hover .task__remove {
    opacity: 1;
}


.task{
    display: flex;
    min-height: 60px;

}

.task__manage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.task__checkbox {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    margin: 0;
    height: 40px;
    width: 40px;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
}

.task__checkbox:checked{
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.task__body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.task__edit {
    outline: none;
    font-size: 1.5rem;
    margin: 0;
    width: 90%;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);

}

.task__remove:hover {
    color: #af5b5e;
    cursor: pointer;
}

.task__text {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    overflow: hidden;
    width: 100%;
}

.task__text_done {
    text-decoration: line-through;
    color:#d9d9d9;
}

.task-menu {
    display: flex;
    background-color: white;
    height: 50px;
}

.task-menu__counter {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #777;
}

.task-menu__counter p {
    padding: 15px;
}

.task-menu__filter {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #777;
}

.task-menu__clear {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #777;
    cursor: pointer;
}

.task-menu__clear:hover {
    text-decoration: underline;
}

.task-menu__clear_hidden {
    display: none;
}

.task-menu__btn-clear {
    padding: 15px;
}

.task-menu__btn {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px;
}

.task-menu__btn:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.task-menu__btn_chosen {
    border-color: rgba(175, 47, 47, 0.2);
}

@media screen and (max-width: 600px) { 
    .to-do-app {
        width: 300px;
    }

    .new-task__controls {
        display: none;
    }

    .task__body {
        width: 70%;
    }

    .task__manage {
        width: 15%;
    }
    
}