html {
    font-size: 18px;
    background-color: rgb(235, 243, 246);
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
}

li {
    list-style: none;
}

.wrapper {
    width: 800px;
    height: 500px;
}


.new-task {
    display: flex;
    width: 100%;
    height: 49px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    outline: 1px solid gainsboro;
}

.new-task__input {
    width: 70%;
    height: 30px;
    border-radius: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    border: none;
    font-size: 1rem;
}

.new-task__options {
    width: 15%;
}

.colors {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.colors__item {
    width: 15px;
    height: 15px;
    border-radius: 3px;
}

.new-task__controls {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-task__btn {
    background-color: rgb(38, 165, 154);
    color: white;
    font-size: 12pt;
    outline: none;
    border: none;
    width: 60%;
    height: 70%;
    border-radius: 3px;
}

.new-task__btn :hover {
    border: 2px solid white;
    outline: 2px solid white;
}


.to-do-list {
    width: 100%;
    padding: 0;
}


.to-do-list__item {
    display: flex;
    height: 60px;
    outline: 1px solid white;
}


.task__manage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
    width: 60px;
}


.task__body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.task__text {
    display: block;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    overflow: hidden;
    width: 95%;
}

.done {
    text-decoration: line-through;
}

.colors__item_chosen {
    width: 13px;
    height: 13px;
    outline: 1px solid darkgrey;
    /* Чёрная рамка */
    border: 1px solid white;
}

.colors__item_red {
    background-color: rgb(238, 106, 104);
}

.colors__item_pink {
    background-color: rgb(243, 121, 162);
}

.colors__item_purple {
    background-color: rgb(145, 112, 203);
}

.colors__item_navy {
    background-color: rgb(94, 179, 246);
}

.colors__item_blue {
    background-color: rgb(103, 215, 229);
}

.colors__item_yellow {
    background-color: rgb(255, 224, 131);
}